<div class="container">
<p><%= notice %></p>

    <div class="row">
<div class="col-sm-4">
<h1>Tweet一覧</h1>
        <p>このサイトは練習用に作成されました。</p>
        <p>Tweet一覧ページです</p>
        <p></p>
     <%= link_to "Tweetを作成する", new_tweet_path, class: 'btn btn-default' %>
</div>
<div class="col-sm-8">
<% @tweets.each do |tweet| %>
  <div class="tweets">
  <p><%= tweet.content %></p>
  <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
</div>
<% end %>
</div>
</div>
</div>
